body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* White text */
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #d32f2f; /* Primary red color for links */
}

.card {
  background-color: #1e1e1e; /* Darker background for cards */
  color: #ffffff; /* White text in cards */
}
